<!DOCTYPE html>
<html>

<head>
    <title>Vue.js App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <select v-model="selectedUrl">
            <option value="http://localhost:5000">Welcome</option>
            <option value="http://localhost:5000/coarse">Coarse</option>
            <option value="http://localhost:5000/submit">Precise</option>
        </select>
        <button @click="fetchData" :disabled="isFetchDataDisabled">Fetch Data</button>
        <div v-if="selectedUrl === 'http://localhost:5000/submit'">
            <form @submit.prevent="submitForm">
                <label for="city">City:</label>
                <input id="city" v-model="city" type="text">
                <button type="submit">Submit</button>
            </form>
        </div>
        <p>{{ jsonData }}</p>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    jsonData: null,
                    city: '',
                    selectedUrl: 'http://localhost:5000'
                }
            },
            computed: {
                isFetchDataDisabled() {
                    return this.selectedUrl === 'http://localhost:5000/submit';
                }
            },
            methods: {
                fetchData() {
                    axios.get(this.selectedUrl)
                        .then(response => (this.jsonData = response.data))
                        .catch(error => console.log(error));
                },
                submitForm() {
                    axios.post(this.selectedUrl, { city: this.city })
                        .then(response => (this.jsonData = response.data))
                        .catch(error => console.log(error));
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>